<div class="center-container">
	<% flash.each do |type, msg|%>
		<% if type == "alert" %>
			<span id="alert-message"><%= msg %></span>
		<% else %>
			<span id="notice-message"><%= msg %></span>
		<% end %>
	<% end %>
</div>

<div class="center-container">
	<h1>Login to see the magic</h1>
</div>


<div class="center-container">
	<div class="center-container">
		<%= form_for :user, url: login_path, method: :post do |f| %>
			<div class="center-container border-box">
				<table class="no-border " id="login-form">
							<colgroup>
								<col span="1" class="cell-col-1">
								<col span="1">
							</colgroup>
							<tr><td>Name: </td><td><%= f.text_field :username %> </td></tr>
							<tr><td>Password:</td> <td><%= f.password_field :password, id: 'password' %></td></tr>
				</table>
			</div>

			<div class="center-container">
				<span class="border-box-skinny" id="margin-top-10">
					<%= f.submit 'Sign In', class: "submit-button" %>
				</span>
			</div>
		<% end %>
	</div>
</div>