

<%= render partial: "application/error", locals: {object: cell} %>

<div class="center-container" id="margin-bottom-10">
	<%=form_for cell do |f|%>

	<div class="center-container border-box" id="cell-form-container">
		<table class="no-border " id="new-cell">
			<colgroup>
				<col span="1" class="cell-col-1">
				<col span="1">
			</colgroup>
			<tr>
				<td>*Name:</td> <td><%=f.text_field :name, class: "input-field" %></td>
			</tr>
			<tr>
				<td>Description: </td> <td><%=f.text_area :description %></td>
			</tr>
			<tr>
				<td>Priority: </td> <td><%=f.select :priority, ["Low", "Medium", "High", "Urgent"] %></td>
			</tr>
			<tr>
				<td>*Coordinate X: </td> <td><%=f.number_field :ck_coordinate_x, class: "input-field" %></td>
			</tr>
			<tr>
				<td>*Coordinate Y: </td> <td><%=f.number_field :ck_coordinate_y, class: "input-field" %></td>
			</tr>
			<tr>
				<td>Assign User: </td> <td><%=f.collection_select :user_id, User.all, :id, :display_name, include_blank: true %></td>
			</tr>
			<tr>
				<td>*Region: </td> <td><%=f.collection_select :region_id, Region.all, :id, :name %></td>
			</tr>
			<tr>
				<td>% Complete: </td> <td><%=f.select :percent_complete, [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100] %></td>
			</tr>
			<% if button_text == "Create Cell" %>
				<tr>
					<td>Create Default Tasks?: </td> <td><%=f.check_box :create_default_tasks, checked: true, class: "left-align" %></td>
				</tr>
			<% end %>
			<tr>
				<td>Color: </td> <td><%=f.color_field :color, class: "input-field" %></td>
			</tr>
			<tr>
				<td>* Required</td> <td><%=f.hidden_field :slug %></td>
			</tr>
		</table>
	</div>

	<div class="center-container" id="margin-top-10">
		<span class="border-box-skinny">
			<%=f.submit button_text, class: "submit-button  fallout-font"%>
			<% end %>
		</span> 
	</div>
</div>
		
<div class="center-container">		
		<%=link_to "Cancel", cells_path %>
</div>



