<table id="all-cells">
		<tr>
			<th class="color-col"></th>
			<th class="name-col">Cell Name</th>
			<th>Priority</th>
			<th class="coor-column">X</th>
			<th class="coor-column">Y</th>
			<th>% Complete</th>
			<th>Open Tasks</th>
			<th>Assigned User</th>
			<th>Region</th>
			<th class="edit-col"></th>
		</tr>
		<% cells.each do |cell| %>
			<tr>
				<td style="background-color: <%=cell.color%>">  </td>
				<td><%=link_to cell.name, cell_path(cell)%></td> 
				<td class="center-cell"><%=cell.priority%></td> 
				<td class="center-cell"><%=cell.ck_coordinate_x%></td> 
				<td class="center-cell"><%=cell.ck_coordinate_y%></td> 
				<td class="center-cell"><%=cell.percent_complete%></td> 
				<td class="center-cell"><%=cell.open_tasks %></td>
				<td>
					<% if cell.user%> 
						<%=cell.user.display_name %> 
					<% else %> 
						--- 
					<% end %></td>
					<td><%=cell.region.name %></td>
					<td><%=link_to edit_cell_path(cell) do %>
							<%= image_tag "edit-icon.png", class: "edit-icon"%>
						<%end%></td>
			</tr>
			
		<% end %>
	</table>