<div class="map-header">
	<h1 class="inline">Pacific Wasteland Cell Map </h1>

	<div><%=link_to "Cell Color", map_path %> | 
	<%=link_to "User Color", map_user_colors_path %> | 
	<%=link_to "Cell Progress", map_progress_colors_path %>
	</div>

	<% case color_mode %>
		<% when "cell" %>
			<h3 class="inline"> Colors: Cell Color</h3>
		<% when "progress" %>
			<h3 class="inline"> Colors: Cell Progress</h3>
		<% when "user" %>
			<h3 class="inline"> Colors: User Color</h3>
	<% end %>
</div>
<br>


<div class="center-container">
	<div class="grid-container">
	<%cells.each do |cell|%>
		
			<div class="tooltip" style="
				grid-column-start: <%=cell.coordinate_x%>;
				grid-row-start: <%=cell.coordinate_y%>;">
				<%= link_to(cell_path(cell)) do %>
				<div class="cell-block" style="background-color: 
				
				<% case color_mode %>
				<% when "cell" %>
					<%=cell.color%>
				<% when "progress" %>
					<%=cell.color%>
				<% when "user" %>
					
					<% if cell.user %>
						
						<%=cell.user.accent_color%>
					<% else %>
						rgb(192, 192, 192)
					<% end %>
				<% end %>
				
				"> </div>
				<% end %>
				<span class="tooltiptext"><%=cell.name%></span>
			</div>
		
	<% end %>



	</div>
</div>