<div class="map-header">
	<h1 class="inline">Pacific Wasteland Cell Map </h1>

	<div class="border-box">
	<%=link_to "Cell Color", map_path %> | 
	<%=link_to "User Color", map_user_colors_path %> | 
	<%=link_to "Cell Progress", map_progress_colors_path %>
	</div>

	<% case color_mode %>
		<% when "cell" %>
			<h3 class="inline"> Colors: Cell Color</h3>
		<% when "progress" %>
			<h3 class="inline"> Colors: Cell Progress</h3>
		<% when "user" %>
			<h3 class="inline"> Colors: User Color</h3>
	<% end %>
</div>
<br>


<div class="center-container">
	<div class="grid-container">
		<%cells.each do |cell|%>
			
			<div class="tooltip" style="
				grid-column-start: <%=cell.coordinate_x%>;
				grid-row-start: <%=cell.coordinate_y%>;">
				<%= link_to(cell_path(cell)) do %>
				<div class="cell-block"  
				
				<% case color_mode %>
				<% when "cell" %>
					style="background-color: <%=cell.color%>"

				<% when "progress" %>
					<%if cell.percent_complete %>
						id="cell-progress-<%=cell.percent_complete%>"
					<% else %>
						id="default-cell-color"
					<% end %>
				<% when "user" %>
					<% if cell.user %>
						style="background-color: <%=cell.user.accent_color%>"
					<% else %>
						id="default-cell-color"
					<% end %>
				<% end %>
				> </div>
				<% end %>
				<span class="tooltiptext"><%=cell.name%></span>
			</div>
		<% end %>
	</div>
</div>