<div class="center-container">
	<div class="grid-container">
	<%cells.each do |cell|%>
		
			<div class="tooltip" style="
				grid-column-start: <%=cell.coordinate_x%>;
				grid-row-start: <%=cell.coordinate_y%>;">
				<%= link_to(cell_path(cell)) do %>
				<div class="cell-block" style="background-color: 
				
				<% case color_mode %>
				<% when "cell" %>
					<%=cell.color%>
				<% when "progress" %>
					<%=cell.color%>
				<% when "user" %>
					
					<% if cell.user %>
						
						<%=cell.user.accent_color%>
					<% else %>
						rgb(192, 192, 192)
					<% end %>
				<% end %>
				
				"> </div>
				<% end %>
				<span class="tooltiptext"><%=cell.name%></span>
			</div>
		
	<% end %>



	</div>
</div>