<b>Description:</b> <%= cell.description %><br>
<b>Priority:</b> <%= cell.priority %><br>
<b>CK Coordinates: X:</b> <%= cell.ck_coordinate_x %> <b>Y:</b><%= cell.ck_coordinate_y %><br>
<b>Adj Coordinates: X:</b> <%= cell.coordinate_x %> <b>Y:</b><%= cell.coordinate_y %><br>
<b>User:</b> 
<% if cell.user%> 
	<%= cell.user.display_name %> 
<% else %> 
	--- 
<% end %> <br>
<b>Region:</b> <%= cell.region.name %><br>
<b>% Complete:</b> <%= cell.percent_complete %><br>
<b>Color: </b> &nbsp;<span style="background-color:<%=cell.color%>;padding-left:60px"></span><br>







