<div class="center-container">
	<h3>Outstanding Tasks</h3>
</div>

<ul class="clean">
	<% cell.tasks.each do |task| %>
		<% if task.complete %>
			<li class="strikethrough">
		<% else %>
			<li >
		<% end %>

		<%= form_tag task_path(task), method: :patch, class: "inline" do %>
			<% if !task.complete %>
				<%= hidden_field_tag :'task[complete]', true %>
				<%= submit_tag "\u{25A1}", class: "unchecked_button" %>
			<% else %>
				<%= hidden_field_tag :'task[complete]', false %>
				<%= submit_tag "\u{25A0}", class: "checked_button" %>
			<% end %>
		<% end %>

		<%= task.name %> 
		</li>
	<% end %>
</ul>
<br>

<%= form_tag tasks_path, class: "center-container" do %>
	<span class="inline" id="new-task-input">
		<%= text_field_tag :'task[name]', "", class: "input-field", placeholder: "Add New Task Here" %>
	</span>
	
	<%=hidden_field_tag :'task[cell_id]', cell.id %>
	
	<span class="inline border-box-skinny">
		<%= submit_tag 'Add task', class: "submit-button "%>
	</span>
<% end %>

