<span class="skew-border-box" id="new-cell-button">
<h1 class="fallout-font skew-correction"><%=link_to "Create New Cell", new_cell_path %></h1>
</span>

<span class="skew-border-box ">
<%= form_with url: "/cells", method: :get, class: "skew-correction" do |f| %>
		<%= f.label :query, "Search Cells:" %>
		<%= f.text_field :query%>
		<%= f.submit "Search", class: "submit-button" %>
	<% end %>
</span>

<br>

<div>
	<% if @user %>
		<h1><%= @user.display_name %>'s Cells:</h1>
	<% else %>
		<h1>All Cells:</h1>
	<% end %>

	<table id="all-cells">
		<tr>
			<th class="color-col"></th>
			<th class="name-col">Cell Name</th>
			<th>Priority</th>
			<th>% Complete</th>
			<th>Open Tasks</th>
			<th>Assigned User</th>
		</tr>
		<% @cells.each do |cell| %>
			<tr>
				<td style="background-color: <%=cell.color%>">  </td>
				<td><%=link_to cell.name, cell_path(cell)%></td> 
				<td><%=cell.priority%></td> 
				<td><%=cell.percent_complete%></td> 
				<td><%=cell.open_tasks %></td>
				<td>
					<% if cell.user%> 
						<%= cell.user.display_name %> 
					<% else %> 
						--- 
					<% end %></td>
			</tr>
		<% end %>
	</table>
<div>
