<h1 class="fallout-font"><%=link_to "Create New Cell", new_cell_path %></h1>

<% if @user %>
	<h2><%= @user.display_name %> Cells:</h2>
<% end %>


<%@regions.all.each do |region|%>
<h2><%= link_to region.name, region_path(region) %></h2>
<ul>
	<% region.cells.each do |cell| %>
		<li><%=link_to cell.name, cell_path(cell), class: "fallout-font" %> 
		Percent Complete: <%=cell.percent_complete%> 
		Priority: <%=cell.priority%> 
		Assigned User: 
			<% if cell.user%> 
				<%= cell.user.display_name %> 
			<% else %> 
				--- 
			<% end %></li>
	<% end %>
</ul>
<% end %>