<span class="skew-border-box" id="new-cell-button">
	<h1 class="fallout-font skew-correction"><%=link_to "Create New Cell", new_cell_path %></h1>
</span>

<span class="skew-border-box ">
<%= form_with url: "/cells", method: :get, class: "skew-correction" do |f| %>
		<%= f.label :query, "Search Cells:" %>
		<%= f.text_field :query%>
		<%= f.submit "Search", class: "submit-button" %>
	<% end %>
</span>

<br>

<div class="center-container">
	<% if @user %>
		<h1><%= @user.display_name %>'s Cells:</h1>
	<% else %>
		<h1>All Cells:</h1>
	<% end %>
</div>

<div class="center-container">
	<%= render partial: "index", locals: {cells: @cells}%>
</div>
