<h2><%= @cell.name %></h2>
<b>Description:</b> <%= @cell.description %><br>
<b>Priority:</b> <%= @cell.priority %><br>
<b>Coordinates: X:</b> <%= @cell.ck_coordinate_x %> <b>Y:</b><%= @cell.ck_coordinate_y %><br>
<b>User:</b> <%= @cell.user.display_name %><br>
<b>Region:</b> <%= @cell.region.name %><br>
<b>% Complete:</b> <%= @cell.percent_complete %><br>
<b>Color:</b> <%= @cell.color %><br>
TODO: make this graphically easy to read,

<br>
<h3>Outstanding Tasks:</h3>
<ul>
	<% @cell.tasks.each do |task| %>
		<% if task.complete %>
			<li class="strikethrough">
		<% else %>
			<li >
		<% end %>
		<%= form_tag task_path(task), method: :patch, class: "inline" do %>
			<%= hidden_field_tag :'task[complete]', true %>
			<%= submit_tag 'Complete' %>
		<% end %>
		<%= task.name %> 

			
		</li>
	<% end %>
</ul>
<br>


Add New Task:
<%= form_tag tasks_path do %>
	Name: <%= text_field_tag :'task[name]' %><br>
	Description: <%= text_field_tag :'task[description]'%><br>
	<%=hidden_field_tag :'task[cell_id]', @cell.id %>
	<%= submit_tag 'Add task'%>
<% end %>
