<!DOCTYPE html>
<html>
  <head>
    <title>CascadiaCellMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

		<script>
			var bodyStyles = document.body.style;
			bodyStyles.setProperty('--main-accent-color', '<%=current_user.accent_color%>');
		</script>

		<header>
			<div class="skew-border-box">
				<span class="nav-text-italic inline title skew-correction"> Fallout</span>
				<span class="nav-text-italic inline skew-correction">Cell Mate</span>
			</div>
			<nav class="nav-text-italic inline">
				
				<ul class="nav-links">
					<li><%=link_to "Home", root_path %></li> 
					<li><%=link_to "Cell Map", map_path %></li>
					<li><%=link_to "Cell List", cells_path %></li> 
					<li><%=link_to "Region List", regions_path %></li> 
					<% if current_user %>
						<li><%=link_to "My Cells", user_cells_path(current_user) %></li> 
					<% else %>
						<li><%=link_to "Sign In", login_path %> </li>
					<% end %>
					<li><%=link_to "Quest List", quests_path %></li> 
					
				</ul>
			</nav> 

			<div >
				<% if current_user %>
					<span class="fallout-font nav-text">
						<%= link_to current_user.display_name, user_path(current_user) %>
						</span><br>
					<span> <%= link_to "Logout", logout_path, html_options = {method: :post}%></span>
				<% else %>
					<%=link_to "Sign In", login_path %>
				<% end %>
			</div>

		</header>

		<div class="padded-body">
			<%= yield %>
		</div>
  </body>
</html>
