<!DOCTYPE html>
<html>
  <head>
    <title>CascadiaCellMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	this is from the application layout :) we will make this pretty later...
	<%=link_to "Cell List", cells_path %> | 
	<%=link_to "Region List", regions_path %> |
	<% if !@user.blank? %>
		<%=link_to "My Cells", user_cells_path(@user) %> |
	<% else %>
		<%=link_to "Sign In", login_path %> |
	<% end %>
	<%=link_to "Quest List", quests_path %>
	<hr>
    <%= yield %>
  </body>
</html>
